@inject IFacade facade
@page "/"

<h1 class="text-4xl">Bookmarks</h1>
@if (State == null)
{
    <h1>Loading...</h1>
}
else
{
    <FolderContainer CurrentState="State"
                     SnapShotCallback="SnapShot"
                     UndoCallback="Undo"
                     RedoCallback="Redo"/>    
}

<div>
    <h2>Features:</h2>
    <ul>
        <li>[X] Organize folders with drag and drop</li>
        <li>[X] Organize bookmarks with drag and drop</li>
        <li>[X] Undo and Redo</li>
        <li>[X] Save between sessions</li>
        <li>[X] Delete Bookmarks</li>
        <li>[X] Create new folders</li>
        <li>[X] Delete folders</li>
        <li>[X] Edit bookmarks</li>
        <li>[X] Edit Folder Title</li>
        <li>[ ] Implement Save without Snapshot for Increment Clicks</li>
        <li>[ ] Sort by most used</li>
        <li>[ ] Remove old bookmarks (added N months ago)</li>
        <li>[ ] Track created date</li>
        <li>[ ] Remove bookmarks never used (never clicked on)</li>
        <li>[ ] Track last clicked on date</li>
        <li>[ ] Drop URLs from the address bar</li>
        <li>[ ] Drop URLs from the bookmarks bar</li>
        <li>[ ] Import bookmarks from broswer export</li>
        <li>[ ] Export bookmarks to broswer export</li>
        <li>[ ] Show empy folders flag</li>
        <li>[ ] Grab icon and name from site?</li>
    </ul>
    <h2>Issues:</h2>
    <ul>
        <li>[ ] Moving folders doesn't hide the target folder bookmarks</li>
        <li>[ ] Undo when editing a bookmark not working</li>
        <li>[X] Clicking the launch icon on a bookmark launches it twice</li>
    </ul>
</div>
<EditBookmarkModal/>


@code {
    private StateModelUi State { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await facade.GetStateFromStore();
        State = MapToStateUi(state);
        await InvokeAsync(StateHasChanged);
    }

    private async Task SnapShot()
    {
        await facade.Snapshot(MapToState(State));
    }

    //TODO implement save without snapshot to avoid being able to undo things like incrementing clicks
    private async Task SaveWithoutSnapShot()
    {
        await facade.Snapshot(MapToState(State));
    }

    private async Task Undo()
    {
        State = MapToStateUi(await facade.Undo());
        await InvokeAsync(StateHasChanged);
    }

    private async Task Redo()
    {
        State = MapToStateUi(await facade.Redo());
        await InvokeAsync(StateHasChanged);
    }

    private static StateModel MapToState(StateModelUi stateModelUi)
    {
        var folders = stateModelUi.Folders.Select(x => new FolderModel() {Id = x.Id, Name = x.Name, LastUpdated = x.LastUpdated}).ToList();
        var bookmarks = stateModelUi.Bookmarks.Select(x => new BookmarkModel() {Id = x.Id, FolderId = x.FolderId, Name = x.Name, Url = x.Url, Clicks = x.Clicks}).ToList();
        return new StateModel(folders, bookmarks);
    }

    private static StateModelUi MapToStateUi(StateModel stateModel)
    {
        var folders = stateModel.Folders.Select(x => new FolderModelUi() {Id = x.Id, Name = x.Name, LastUpdated = x.LastUpdated}).ToList();
        var bookmarks = stateModel.Bookmarks.Select(x => new BookmarkModelUi() {Id = x.Id, FolderId = x.FolderId, Name = x.Name, Url = x.Url, Clicks = x.Clicks}).ToList();
        return new StateModelUi(folders, bookmarks);
    }
}