@if (!IsShowEditor)
{
    <div @onclick="ShowEditor" class="flex flex-col">
        <div class="bg-blue-100">
            + Add another folder
        </div>
    </div>
}
else
{
    <div class="flex flex-col bg-blue-100">
        <input type="text" placeholder="Folder Name" @bind-value="FolderName"/>
        <div class="flex">
            <button @onclick="AddFolder" class="px-2 py-2 border-2 rounded bg-blue-400 hover:bg-blue-500">Save</button>
            <button @onclick="CancelEdit" class="px-2 py-2 border-2 rounded bg-gray-400 hover:bg-gray-500">X</button>
        </div>
    </div>
}

@code {

    [CascadingParameter]
    public FolderContainer Container { get; set; }

    private bool IsShowEditor { get; set; }

    private string FolderName { get; set; }

    private void ShowEditor()
    {
        IsShowEditor = true;
        StateHasChanged();
    }

    private void CancelEdit()
    {
        IsShowEditor = false;
        FolderName = null;
        StateHasChanged();
    }

    private void AddFolder()
    {
        if (FolderName == string.Empty)
        {
            CancelEdit();
        }
        else
        {
            Container.AddFolder(FolderName);
        }
    }
}