@inject NavigationManager navigationManager

<style>
    .edit-svg svg {
        visibility: hidden;
    }

    .edit-svg:hover svg {
        visibility: visible;
    }
</style>

<li class="bg-white text-sm mb-1 shadow rounded px-1 hover:bg-gray-100 edit-svg @IsVisibleCssClass"
    draggable="true"
    dropzone="move"
    @ondragstart:stopPropagation
    @ondragstart="((e) => HandleDragStart(e))"
    @ondragenter="((e) => HandleOnDragEnter())"
    @ondragleave="((e) => HandleOnDragLeave())"
    @ondragover:preventDefault
    @ondragover:stopPropagation
    @ondragover="((e) => HandleDragOver(Link))"
    @ondrop="((e) => HandleDrop())">
    
    <div @onclick="Navigate" class="flex justify-between">
        <p>@Link.Name</p>
        <div class="flex justify-end ml-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="pt-1 hover:bg-gray-400" width="16" height="16" viewBox="0 0 1000 1000"><path d="M10 990l114.3-49.3L59 874.3 10 990zM204.6 621.2l184.8 187.9 508.2-516.6-184.9-187.9-508.1 516.6zM859.3 10c-45.9 0-86.1 24.1-109.4 60.5L930.4 254c35.8-23.7 59.5-64.6 59.5-111.2C990 69.5 931.5 10 859.3 10zM76.1 840.1l82.2 79.1 194.6-76-177.5-180.6-99.3 177.5z" /></svg>
            <a href="@Link.Url" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="pt-1 hover:bg-gray-400" width="16" height="16" viewBox="0 0 1850 1850"><path d="M1438.373 818.95v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19q-26 0-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45q19-19 45-19h512q26 0 45 19t19 45z" fill="currentColor" /></svg></a>
            <DeleteIcon BookmarkId="@Link.Id" DeleteCallback="Delete"/>
        </div>
    </div>
</li>

@code {
    [CascadingParameter]
    public FolderContainer Container { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public BookmarkModelUi Link { get; set; }

    private string IsVisibleCssClass => Link.Hidden ? "invisible" : "visible"; // TODO: Requires mapping! I don't want "Hidden" in my core logic

    public void HandleDragStart(DragEventArgs e)
    {
        Container.BookmarkDragPayload = Link;
        Container.BookmarkDragPayload.Hidden = true;
    }

    public void HandleOnDragEnter()
    {
    }

    public void HandleOnDragLeave()
    {
    }

    public void HandleDragOver(BookmarkModelUi target)
    {
        if (Container.BookmarkDragPayload == null)
            return;
        Container.MoveBookmarkPosition(target);
    }

    public void HandleDrop()
    {
        if (Container.BookmarkDragPayload == null)
            return;
        Container.BookmarkDragPayload.Hidden = false;
        Container.BookmarkDragPayload = null;
    }

    public void Navigate()
    {
        //TODO: JS Interop navigate with target="_blank"
        navigationManager.NavigateTo(Link.Url, true);
    }

    public void Delete()
    {
        Container.RemoveBookmark(Link);
    }
}