<div class="flex flex-col bg-indigo-100 mx-1 px-1 py-1"
     draggable="true"
     dropzone="move"
     @ondragstart="((e) => HandleDragStart(Model))"
     @ondragenter="((e) => HandleOnDragEnter())"
     @ondragleave="((e) => HandleOnDragLeave())"
     @ondragover:preventDefault
     @ondragover="((e) => HandleDragOver(ThisFolder))"
     @ondrop="((e) => HandleDrop(Model))">

    <div class="@IsVisibleCssClass" style="pointer-events:none;">
        <div>
            <h3 class="border-b-2" style="border-color: black;">@Model.Name</h3>
        </div>
        <ul class="px-2 py-5" style="pointer-events:auto">
            @foreach (var b in Container.CurrentState.Bookmarks.Where(x => x.FolderId == Model.Id))
            {
                <Bookmark Model="@b" />
            }
        </ul>
    </div>
</div>


@code {
    [CascadingParameter]
    public FolderContainer Container { get; set; }

    [Parameter]
    public FolderModelUi Model { get; set; }

    private string IsVisibleCssClass => Model.Hidden ? "invisible" : "visible";

    private void HandleDragStart(FolderModelUi selectedCollection)
    {
        Container.FolderDragPayload = selectedCollection;
        Container.FolderDragPayload.Hidden = true;
    }

    private void HandleOnDragEnter()
    {
    }

    private void HandleOnDragLeave()
    {
    }

    private void HandleDragOver(FolderModelUi collection)
    {
        if (Container.FolderDragPayload != null)
        {
            Container.MoveFolderPosition(collection.Id, Container.FolderDragPayload);
        }

        if (Container.BookmarkDragPayload != null)
        {
            Container.MoveBookmarkToFolder(collection);
        }
    }

    private void HandleDrop(FolderModelUi dropTarget)
    {
        if (Container.FolderDragPayload != null)
        {
            Container.FolderDragPayload.Hidden = false;
            Container.FolderDragPayload = null;
            Container.SnapShotCallback.InvokeAsync();
        }

        if (Container.BookmarkDragPayload != null)
        {
            Container.BookmarkDragPayload.Hidden = false;
            Container.BookmarkDragPayload = null;
            Container.SnapShotCallback.InvokeAsync();
        }
    }

    [JSInvokable]
    public static void UrlDrop(string url)
    {
        var result = url.Replace(System.Environment.NewLine, string.Empty);
    }
}
