@inject NavigationManager navigationManager
@inject IFacade facade

@if (IsEditMode)
{
    <CascadingValue Value="@this">
        <EditBookmark/>
    </CascadingValue>
}
else
{
    <!-- removed @onkeypress:preventDefault, this blocked child <input/> elements -->
    <div class="flex flex-wrap items-baseline bg-black"
         tabindex="1"
         @onkeypress="((e) => HandleKeyPress(e))">
        <CascadingValue Value="@this">
            @foreach (var folder in CurrentState.Folders)
            {
                <Folder Model="@folder"/>
            }
            <Addfolder/>
        </CascadingValue>
    </div>
}




@code {

    [Parameter]
    public StateModelUi CurrentState { get; set; }

    [Parameter]
    public EventCallback SnapShotCallback { get; set; }

    [Parameter]
    public EventCallback UndoCallback { get; set; }

    [Parameter]
    public EventCallback RedoCallback { get; set; }

    [Parameter]
    public EventCallback<int> DeleteBookmarkCallback { get; set; }

    [Parameter]
    public EventCallback AddFolderCallback { get; set; }

    public FolderModelUi FolderDragPayload { get; set; }

    public BookmarkModelUi BookmarkDragPayload { get; set; }

    private bool IsEditMode { get; set; } = false;

    public void AddFolder(string folderName)
    {
        facade.AddFolder(folderName);
        AddFolderCallback.InvokeAsync().Wait();
    }

    public void MoveFolderPosition(int dragTargetFolderId, FolderModelUi folderDragPayload)
    {
        var dragTargetIndex = CurrentState.Folders.FindIndex(x => x.Id == dragTargetFolderId);
        if (dragTargetIndex >= 0)
        {
            CurrentState.Folders.RemoveAll(x => x.Id == FolderDragPayload.Id);
            CurrentState.Folders.Insert(dragTargetIndex, folderDragPayload);
        }
        StateHasChanged();
    }

    public void MoveBookmarkPosition(BookmarkModelUi dragTargetBookmark)
    {
        BookmarkDragPayload.FolderId = dragTargetBookmark.FolderId;
        var index = CurrentState.Bookmarks.FindIndex(x => x == dragTargetBookmark);
        if (index >= 0)
        {
            CurrentState.Bookmarks.RemoveAll(x => x == BookmarkDragPayload);
            CurrentState.Bookmarks.Insert(index, BookmarkDragPayload);
        }
        StateHasChanged();
    }

    public void MoveBookmarkToFolder(FolderModelUi target)
    {
        BookmarkDragPayload.FolderId = target.Id;
        StateHasChanged();
    }

    public void RemoveBookmark(BookmarkModelUi linkToDelete)
    {
        CurrentState.Bookmarks.RemoveAll(x => x == linkToDelete);
        SnapShotCallback.InvokeAsync().Wait();
        StateHasChanged();
    }

    public void Navigate(BookmarkModelUi linkToNavigate)
    {
        navigationManager.NavigateTo(linkToNavigate.Url, true);
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        var keys = e;
        if (e.CtrlKey)
        {
            if (e.Code == "KeyZ")
            {
                UndoCallback.InvokeAsync().Wait();
            }
            else if (e.Code == "KeyY")
            {
                RedoCallback.InvokeAsync().Wait();
            }
        }
    }

    public void EditBookmark(int bookmarkId)
    {
        IsEditMode = true;
        StateHasChanged();
    }

    public void CancelEdit()
    {
        IsEditMode = false;
        StateHasChanged();
    }

}