@*
   ondrop="handleOnDrop(event)"
*@

<div class="flex flex-col bg-indigo-100 mx-1 px-1 py-1"
     draggable="true"
     dropzone="move"
     @ondragstart="((e) => HandleDragStart(ThisFolder))"
     @ondragenter="((e) => HandleOnDragEnter())"
     @ondragleave="((e) => HandleOnDragLeave())"
     @ondragover:preventDefault
     @ondragover="((e) => HandleDragOver(ThisFolder))"
     @ondrop="((e) => HandleDrop(ThisFolder))">

    <div class="@IsVisibleCssClass" style="pointer-events:none;">
        <div>
            <h3 class="border-b-2" style="border-color: black;">@ThisFolder.Name  (@ThisLinkCollectionIndex)</h3>
        </div>
        <ul class="px-2 py-5" style="pointer-events:auto">
            @foreach (var i in Container.CurrentState.Bookmarks.Where(x => x.FolderId == ThisFolder.Id))
            {
                <Bookmark Link="@i" />
            }
        </ul>
    </div>
</div>


@code {
    [CascadingParameter]
    public FolderContainer Container { get; set; }

    [Parameter]
    public Core.Models.Folder ThisFolder { get; set; }

    private int ThisLinkCollectionIndex { get; set; }
    private string IsVisibleCssClass => ThisFolder.Hidden ? "invisible" : "visible"; // TODO: Requires mapping! I don't want "Hidden" in my core logic

    protected override void OnInitialized()
    {
        ThisLinkCollectionIndex = Container.CurrentState.Folders.FindIndex(x => x.Id == ThisFolder.Id);
    }

    public void HandleDragStart(Core.Models.Folder selectedCollection)
    {
        Container.CollectionPayload = selectedCollection;
        Container.CollectionPayload.Hidden = true;
    }

    public void HandleOnDragEnter()
    {
    }

    public void HandleOnDragLeave()
    {
    }

    public void HandleDragOver(Core.Models.Folder collection)
    {
        if (Container.CollectionPayload != null)
        {
            Container.MoveCollectionTo(collection.Id, Container.CollectionPayload);
        }

        if (Container.LinkPayload != null)
        {
            Container.MoveLinkPayloadTo(collection);
        }
    }

    public void HandleDrop(Core.Models.Folder dropTarget)
    {
        if (Container.CollectionPayload != null)
        {
            Container.CollectionPayload.Hidden = false;
            Container.CollectionPayload = null;
        }

        if (Container.LinkPayload != null)
        {
            Container.LinkPayload.Hidden = false;
            Container.LinkPayload = null;
        }
    }

    [JSInvokable]
    public static void UrlDrop(string url)
    {
        var result = url.Replace(System.Environment.NewLine, string.Empty);
    }
}
