@inject NavigationManager navigationManager

<style>
    .edit-svg svg {
        visibility: hidden;
    }

    .edit-svg:hover svg {
        visibility: visible;
    }
</style>

<li class="bg-white text-sm mb-1 shadow rounded px-1 hover:bg-gray-100 edit-svg @IsVisibleCssClass"
    draggable="true"
    dropzone="move"
    @ondragstart:stopPropagation
    @ondragstart="((e) => HandleDragStart(e))"
    @ondragenter="((e) => HandleOnDragEnter())"
    @ondragleave="((e) => HandleOnDragLeave())"
    @ondragover:preventDefault
    @ondragover:stopPropagation
    @ondragover="((e) => HandleDragOver(Link))"
    @ondrop="((e) => HandleDrop())">
    
    <div @onclick="Navigate" class="flex justify-between">
        <p>@Link.Name</p>
        <div class="flex justify-end ml-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="pt-1 hover:bg-gray-400" width="16" height="16" viewBox="0 0 1000 1000"><path d="M10 990l114.3-49.3L59 874.3 10 990zM204.6 621.2l184.8 187.9 508.2-516.6-184.9-187.9-508.1 516.6zM859.3 10c-45.9 0-86.1 24.1-109.4 60.5L930.4 254c35.8-23.7 59.5-64.6 59.5-111.2C990 69.5 931.5 10 859.3 10zM76.1 840.1l82.2 79.1 194.6-76-177.5-180.6-99.3 177.5z" /></svg>
            <a href="@Link.Url" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="pt-1 hover:bg-gray-400" width="16" height="16" viewBox="0 0 1850 1850"><path d="M1438.373 818.95v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19q-26 0-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45q19-19 45-19h512q26 0 45 19t19 45z" fill="currentColor" /></svg></a>
            <svg xmlns="http://www.w3.org/2000/svg" class="pt-1 hover:bg-gray-400" width="16" height="16" @onclick="Delete" @onclick:stopPropagation viewBox="0 0 1000 1000"><path d="M836.9 316.2v551.2c0 67.7-54.8 122.5-122.5 122.5H285.6c-67.7 0-122.5-54.8-122.5-122.5V316.2c-33.8 0-61.3-27.4-61.3-61.2v-61.3c0-33.8 27.4-61.2 61.3-61.2h183.7V71.2c0-33.8 27.4-61.2 61.2-61.2h183.7c33.8 0 61.3 27.4 61.3 61.2v61.2h183.8c33.8 0 61.2 27.4 61.2 61.2V255c.1 33.8-27.3 61.2-61.1 61.2zm-627.1 0v567c0 33.8 26.3 61.3 60.1 61.3h460.2c33.8 0 61.3-27.4 61.3-61.3v-567H209.8zm182.6-183.7V86.1c0-16.9 13.7-30.6 30.6-30.6h154c16.9 0 30.6 13.7 30.6 30.6v46.3c-29.7.1-215.2.1-215.2.1M822 178.1H178c-16.9 0-30.6 25.9-30.6 46.2 0 20.3 13.7 46.2 30.6 46.2h644c16.9 0 30.6-25.9 30.6-46.2 0-20.3-13.7-46.2-30.6-46.2zM380.9 438.7c12.6 0 22.8 13.7 22.8 30.6v367.5c0 16.9-10.2 30.6-22.8 30.6-12.6 0-22.8-13.7-22.8-30.6V469.4c0-16.9 10.2-30.7 22.8-30.7zm122.4 0c12.6 0 22.7 13.7 22.7 30.6v367.5c0 16.9-10.2 30.6-22.7 30.6s-22.7-13.7-22.7-30.6V469.4c0-16.9 10.2-30.7 22.7-30.7zm122.5 0c12.5 0 22.7 13.7 22.7 30.6v367.5c0 16.9-10.2 30.6-22.7 30.6s-22.7-13.7-22.7-30.6V469.4c0-16.9 10.2-30.7 22.7-30.7z" /></svg>
        </div>
    </div>
</li>

@code {
    [CascadingParameter]
    public CollectionContainerComponent Container { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public Link Link { get; set; }

    private string IsVisibleCssClass => Link.Hidden ? "invisible" : "visible";

    public void HandleDragStart(DragEventArgs e)
    {
        Container.LinkPayload = Link;
        Container.LinkPayload.Hidden = true;
    }

    public void HandleOnDragEnter()
    {
    }

    public void HandleOnDragLeave()
    {
    }

    public void HandleDragOver(Link target)
    {
        if (Container.LinkPayload == null)
            return;
        Container.MoveLinkPayloadTo(target);
    }

    public void HandleDrop()
    {
        if (Container.LinkPayload == null)
            return;
        Container.LinkPayload.Hidden = false;
        Container.LinkPayload = null;
    }

    public void Navigate()
    {
        //TODO: JS Interop navigate with target="_blank"
        navigationManager.NavigateTo(Link.Url, true);
    }

    public void Delete()
    {
        Container.Remove(Link);
    }
}